.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 0;
}

.lil-root {
  position: static;
  max-height: 90vh;
  overflow-y: auto;
}

.lil-controller .lil-widget input[type=text] {
  line-height: normal;                                                                  
}

.lil-controller .lil-widget input[type=text].sel-field {                                                       
  background: #333333;
  cursor: not-allowed;
}

.lil-controller .lil-widget input[type=text].sel-field:enabled {
  background: var(--widget-color);
  cursor: inherit;
}

.lil-gui .lil-controller .sel-checkbox {
    padding: 0;
    margin: 0 5px 0 0;
    align-self: center;
    background: #e0e0e0;
    color: var(--bs-info-text-emphasis);
    min-width: var(--checkbox-size);
    min-height: var(--checkbox-size);
}

.lil-controller .lil-widget div {
  box-sizing: content-box;                                                             
}

.lil-number {
  width: auto;
}

.lil-function {
  height: auto;
}

#selection-folder .lil-widget {
  display: flex;
}

#selection-folder .lil-controller > .lil-name{
  min-width: 55%;
}

#selection-folder .lil-controller > .sel-checkbox + .lil-name {
  min-width: calc(55% - var(--checkbox-size) - 5px);
}

.sel-info-circle:hover {
    color: var(--bs-info-text-emphasis);
    cursor: pointer;
  }

.sel-info-popup {
    z-index: 1005;
    background: var(--bs-info-text-emphasis);
    max-width: 200px;
    position: absolute;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    padding: 4px;
  }

.sel-info-popup span {
    margin: 0;
    padding: 0;
    text-wrap: auto;
    font-size: smaller;

  }
