* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1000;
  gap: 1rem;
}

.toolbar {
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 0.5rem;
  z-index: 999;
  justify-content: center;
}

main {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  max-height: calc(100vh - 60px);
}

:fullscreen, :-webkit-full-screen, ::backdrop {
  background: var(--bs-body-bg);
}
/* toolbars and buttons */

.primary-toolbar, .secondary-toolbar {
  display: inline-flex;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.primary-toolbar::-webkit-scrollbar,
.secondary-toolbar::-webkit-scrollbar {
  display: none;
}

.secondary-toolbar {
  margin-left: auto;
}

.btn-group, .dropdown {
  height: 35px;
  object-fit: contain;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-width: fit-content;
}

header .btn-group {
  height: 29px;
}

.btn {
  border-radius: 15px;
  object-fit: contain;
  overflow: hidden;
  text-size-adjust: auto;
  text-align: center;
  justify-content: center;
  border-color: var(--bs-border-color);
  color: var(--bs-body-bg);
  margin: auto;
  display: inline-flex;
  align-items: center;
  margin: 0;
  height: 90%;
}

.btn-light {
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

header .btn {
  height: 80%;
}

.btn i {
  vertical-align: middle;
}

.btn.disabled {
  background-color: var(--bs-tertiary-bg);
  color: var(--bs-gray-dark);
}

.btn.active {
  background-color: var(--bs-secondary);
  color: var(--bs-secondary-bg);
  pointer-events: none;
  cursor: default;
}

.btn.pressed {
  transform: translateY(1px) scale(.998);
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.25);
}

.dropdown-menu {
  min-width: auto;
  width: auto;
  white-space: nowrap;
}

/* Apply to all file inputs */
input[type="file"]::file-selector-button {
  background-color: var(--bs-primary);
  color: var(--bs-body-bg);
  border: 1px solid var(--bs-primary);
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Hover/Focus states */
input[type="file"]:hover::file-selector-button {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
input[type="file"]:focus-visible::file-selector-button {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}


.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bubble {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
  white-space: nowrap;
}

/* main style */

.axes-div {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 500;
  background-color: inherit;
  height: 8vw;
  min-height: 20px;
  width: auto;
}

.event-info-div {
  background-color: inherit;
  color: var(--bs-tertiary-color);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 500;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 10vh;
  width: fit-content;
}

.event-info-div img {
  height: 100%;
  width: auto;
  min-height: 40px;
  max-height: 60px;
}

.event-info-div span {
  height: 100%;
  width: auto;
  display: inline-block;
  line-height: initial;
  font-size: calc(100%);
}

.driver-highlight {
  box-shadow: 0 0 0 4px rgba(255, 193, 7, 0.35) !important;
}
